<Configuration>
    # File appender
    <Appenders>
        <File name="fout" fileName="SecretManager.log" append="true">
            <PatternLayout>
                <Pattern>%d{yyyy-MM-dd HH:mm:ss} %-5p %m%n</Pattern>
            </PatternLayout>
        </File>
    </Appenders>
    <Loggers>
    <Root level="debug">
        <AppenderRef ref="fout"/>
    </Root>
    </Loggers>
</Configuration>


